@model Post
@{
    ViewData["Title"] = "Details";
}
<div class="blog-details-area pt-150 pb-140">
    <div class="container">
        <div class="row my-5">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <h3>Image :</h3>
            </div>
            <div class="col-md-8">
                <img src="~/img/blog/@Model.Image" style="width:100%;" alt="blog-details">
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <h1>Title :</h1>
            </div>
            <div class="col-md-8">
                <h3>@Model.Title</h3>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <h3>Author :</h3>
            </div>
            <div class="col-md-8">
                <h6>@Model.ByWhom  /  @Model.Date  /  <i class="fa fa-comments-o"></i> @Model.PostMessages.Count()</h6>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <h3>Title :</h3>
            </div>
            <div class="col-md-8">
                @Html.Raw(Model.Details.ToString())
            </div>
        </div>     
    </div>
</div>       