@model PostVM
@{
    Layout = null;
}

<div class="row">

    @foreach (var post in Model.Posts)
    {
        <div class="col-md-4 col-sm-6 col-xs-12 my-4">
            <div class="single-blog">
                <div class="blog-img">
                    <a href="blog-details.html"><img src="~/img/blog/@post.Image" alt="blog"></a>
                    <div class="blog-hover">
                        <a href="blog-details.html"><i class="fa fa-link"></i></a>
                    </div>
                </div>
                <div class="blog-content">
                    <div class="blog-top">
                        <p>@post.ByWhom  /  @post.Date  /  <i class="fa fa-comments-o"></i> @post.PostMessages.Where(pm=>pm.IsDeleted == false).Count()</p>
                    </div>
                    <div class="blog-bottom">
                        <h2><a href="blog-details.html">@post.Title</a></h2>
                        <a asp-controller="Post" asp-action="PostDetail" asp-route-id="@post.Id">read more</a>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
