@model List<Teacher>
@{
    ViewData["Title"] = "Index";
    int count = 0;
}

<div class="content sm-gutter">
    <div class="page-title">
        <h1>Teachers</h1>
        <a asp-action="Create" class="btn btn-success text-light"><i class="fa fa-plus-circle"></i></a>
    </div>

    <div class="row">
        <table class="table table-hover no-more-tables">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Teacher</th>
                    <th>Curse</th>
                    <th>Email</th>
                    <th>IsDeleted</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var teacher in Model)
                {
                    @(count++);
                <tr>
                    <td>@count</td>
                    <td>@teacher.Fullname</td>
                    <td>@teacher.Course.Title</td>
                    <td>@teacher.Email</td>
                    <td>@teacher.IsDeleted</td>
                    <td>
                        <ul class="d-flex list-unstyled">
                            <li><a asp-action="Update" asp-route-id="@teacher.Id" class="btn btn-warning  @(teacher.IsDeleted?"disabled":"")"><i class="fa fa-pencil"></i></a></li>
                            <li><a asp-action="Details" asp-route-id="@teacher.Id" class="btn btn-primary @(teacher.IsDeleted?"disabled":"")"><i class="fa fa-info"></i></a></li>
                            <li><a asp-action="DeleteOrActive" asp-route-id="@teacher.Id" class="btn @(teacher.IsDeleted?"btn-success":"btn-danger")"><i class="@(teacher.IsDeleted?"fa fa-check-square":"fa fa-trash-o")"></i></a></li>
                        </ul>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>