@model PostDetailVM
@{
    Layout = null;
}

<div class="col-md-4">
    <div class="blog-sidebar right">
        <div class="single-blog-widget mb-47">
            <h3>search</h3>
            <div class="blog-search">
                <form id="search" action="#">
                    <input type="search" placeholder="Search..." name="search" />
                    <button type="submit">
                        <span><i class="fa fa-search"></i></span>
                    </button>
                </form>
            </div>
        </div>
        <div class="single-blog-widget mb-47">
            <h3>categories</h3>
            <ul>
                @foreach (var cat in Model.Categories)
                {
                    <li><a href="#">@cat.Name</a></li>
                }
            </ul>
        </div>
        <div class="single-blog-widget mb-47">
            <div class="single-blog-banner">
                <a href="blog-details.html" id="blog"><img src="~/img/blog/blog-img.jpg" alt="blog"></a>
                <h2>best<br> eductaion<br> theme</h2>
            </div>
        </div>
        <div class="single-blog-widget mb-47">
            <h3>latest post</h3>
            @foreach (var post in Model.LatestPosts)
            {
                <div class="single-post mb-30 d-flex align-items-center">
                    <div class="single-post-img">
                        <a href="blog-details.html">
                            <img src="~/img/blog/@post.Image" width="125" alt="post">
                            <div class="blog-hover">
                                <i class="fa fa-link"></i>
                            </div>
                        </a>
                    </div>
                    <div class="single-post-content">
                        <h4><a asp-controller="Post" asp-action="PostDetail" asp-route-id="@post.Id" class="text-decoration-none">@post.Title</a></h4>
                        <p>@post.ByWhom  /  @post.Date</p>
                    </div>
                </div>
            }
        </div>
        <div class="single-blog-widget">
            <h3>tags</h3>
            <div class="single-tag">
                <a href="blog-details.html" class="mr-10 mb-10">course</a>
                <a href="blog-details.html" class="mr-10 mb-10">education</a>
                <a href="blog-details.html" class="mb-10">teachers</a>
                <a href="blog-details.html" class="mr-10">learning</a>
                <a href="blog-details.html" class="mr-10">university</a>
                <a href="blog-details.html">events</a>
            </div>
        </div>
    </div>
</div>